.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana; 
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta{
    background-color: #EE9972;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pizza{
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.burrito{
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
